footer {
    background-color: #111; 
    color: #fff; 
    padding: 20px;
    text-align: center;
    font-size: 14px;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
  }
  

  
 

  