@import url('header.css'); 
@import url('posts-section.css');
@import url('blog-post.css');
@import url('footer.css');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

    


